body {
    background-color: aliceblue;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

input::placeholder,
textarea::placeholder{
    font-family: 'Montserrat', sans-serif;
}

input:focus,
textarea:focus{
    outline: none;
}

a,
nav button{
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: black;
    transition: .4s;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}

a:hover,
nav button:hover{
    color: #b1edff;
}

/*Styles ds forms */
form{
    max-width: 40%;
    margin: 0 auto;
}

label{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

label span{
    margin-bottom: .3em;
    font-weight: bold;
    text-align: left;
}

input, 
textarea{
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 0.8em 0;
    background-color: transparent;
}

.btn{
    background-color: #00bb10;
    color: #ffffff;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 120px;
}

.btn.btn-dark{
    background-color: #343a40;
    color: white;
    border-radius: 0;
}

.btn.btn-outline{
    background-color: transparent;
    border-radius: 0;
    color: #000;
    border: 1px solid #000;
    padding: 7px 15px;
}

.btn:hover{
    background-color: #019c0e;
    color: #e7e7e7;
}

.btn.btn-outline:hover{
    background-color: #000;
}

.btn.btn-danger:hover{
    background-color: #dc3545;
}

button[disabled]{
    background-color: #aaa;
}

.container .error{
    color: #721515;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 5px;
    border-radius: 5px;
}

/* .container{
    min-height: 60dvh;
    margin-bottom: 5em;
} 

.container-fluid{
    padding: 0;
}


.btn-primary{
    background-color: #007bff;
    color: white;
}

.btn-secondary{
    background-color: #6c757d;
    color: white;
}

.btn-success{
    background-color: #28a745;
    color: white;
}

.btn-danger{
    background-color: #dc3545;
    color: white;
}

.btn-warning{
    background-color: #ffc107;
    color: white;
}

.btn-info{
    background-color: #17a2b8;
    color: white;
}

.btn-light{
    background-color: #f8f9fa;
    color: black;
}



.btn-outline-primary{
    border: 2px solid #007bff;
    color: #007bff;
}

.btn-outline-secondary{
    border: 2px solid #6c757d;
    color: #6c757d;
}

.btn-outline-success{
    border: 2px solid #28a745;
    color: #28a745;
}

.btn-outline-danger{
    border: 2px solid #dc3545;
    color: #dc3545;
}

.btn-outline-warning{
    border: 2px solid #ffc107;
    color: #ffc107; */